.nav-bg{
    background: white;
}
.active{
    padding-top: 1%;
    color:black;
    border-bottom:2px solid white;
    padding-bottom: 12px;
    padding-top: 15px;
}
.name{
    margin-top: 2%;
}
.user{
    margin-bottom: 0px;
    padding: 10px;
}
.active:hover{
    background: #deeeff;
    transition: 0.3s ease-in-out;
}
.dpmenu{
    position: absolute;
    right: 400px;
}
.dropdown{
    cursor: pointer;
}
.bb{
    background: white;
    box-shadow: 0 3px 1px -1px rgb(224, 224, 224);
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.navbar-brand{
    color: firebrick;
    font-size: 25px;
}
.navbar-brand:hover{
    color: firebrick;
    font-size: 25px;
}
.links{
   color: black;
}
.active:hover{
    background: #fafafa;
}
.home{
    border-bottom:2px solid firebrick;
    color: firebrick;

}
.pro-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.input-group-text{
    background: white;
    border-right: 0px;
}
#basic-addon1{
    border-right: 0px;
}
.navbar{
    padding: 0px;
}
.input-group{
    padding-top: 5%;
}
.search{
    margin-left: 1%;
    margin-top: 1.2%;
    width: 350px;
}
#inp{
    border-left : 0px;

}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    border : 1px  solid gainsboro;
}
.nav-link{
    padding:0px;
}
.mb-3{
    margin-bottom: 0px;
}
.inp:focus{
    border: 0px;
}
.add{
    margin-left: 1%;
    padding: 0px;
    margin-top: 1.2%;
    width: 100px;
}
.addbtn{
    background: firebrick;
    border:0px;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
}
.dp{
    margin-left: 1.5%;
    margin-top: 1.5%;
    height: 26px;
    width: 26px;
}
.dp:hover{
    transition: 0.3s ease-in-out;
}
.pad{
    margin-left: 16.7%;
}
@media only screen and (max-width: 600px) {
    .pad{
        margin-left: 0%;
        padding: 0px;
    }
}
@media only screen and (max-width: 1025px) {
    .pad{
        margin-left: 0%;
    }
}
.dropdown-menu {
    margin-top: 30%;
}
.navtitles{
    font-size: 14px;
    color:rgb(92, 91, 91);
    margin-top: 3px;
}
.input-group, .input-group-sm, .mb-3 {
margin: 0px;
padding: 0px;
}
.mic{
    margin-left: 10px;
    margin-top: 15px;
}
.notifi{
    border:1px solid silver;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 3px;
}
.close-notification{
    margin-left: 80%;
}
.notification-card{
    font-size: 13px;
    position: absolute;
    z-index: 1;
    width: 400px;
    background: white;
    margin-left: 40%;
    border:1px solid rgb(202, 202, 202);
    padding: 25px;
}
@media only screen and (max-width: 1000px) {
    .notification-card{
        margin-left: 1%;
    }
}
.pic{
    padding: 0px;
    padding-left: 5px;
}
.msg{
    margin: 0px;
}
.delnoti{
    cursor: pointer;
}
.notify-link{
    cursor: pointer;
}